.todos-container {
  display: flex;
  transition: 2s ease;
}

.todos {
  flex: 9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
  gap: 10px;
  transition: 2s ease;
}

.show-todo {
  margin-left: 20px;
  position: sticky;
  top: 0px;
  right: 5px;
  padding: 20px;
  flex: 3;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  transition: 2s ease;
}
